Repository kubevirt/kubevirt-ansible, pull requests merged in 2018-02, with the labels that each got.

#81 automation: Run the CI only when the code changed
  automation/check-patch.sh
Labels: automation, enhancement

#71 Update README.md
  README.md
Labels: docs

#85 Fixed link and update parameter in readme
  README.md
Labels: docs

#84 re-org: Move openshift deployment to playbooks dir
  automation/check-patch.openshift_3-7.sh
  automation/check-patch.openshift_3-9.sh
  automation/check-patch.sh
  control.yml
  openshift/roles/prerequisites/tasks/main.yml
  openshift/roles/prerequisites/vars/main.yml
  playbooks/cluster/openshift/config.yml
  playbooks/cluster/openshift/vars/3.7.yml
  playbooks/cluster/openshift/vars/3.9.yml
  vars/global_vars.yml
Labels: cluster:osp, enhancement

#83 Use std-ci mirrors
  automation/check-patch.openshift_3-7.yumrepos
  automation/check-patch.openshift_3-9.yumrepos
  automation/check-patch.sh
  automation/check-patch.yumrepos
  control.yml
  playbooks/utils/configure-std-ci-repos.yml
Labels: automation, enhancement

#87 Inventory updates
  inventory
Labels: cluster:osp

#93 re-org: mv K8S files
  deploy-kubernetes.yml
  kubernetes/roles/deploy-kubevirt/meta/main.yml
  kubernetes/roles/deploy-kubevirt/tasks/main.yml
  kubernetes/roles/deploy-kubevirt/vars/main.yml
  playbooks/cluster/kubernetes/config.yml
  playbooks/cluster/kubernetes/roles
  playbooks/cluster/kubernetes/vars/default_vars.yml
  roles/kubernetes-master/tasks/main.yml
  roles/kubernetes-master/templates/deploy_kubernetes.j2
  roles/kubernetes-master/vars/main.yml
  roles/kubernetes-node/tasks/main.yml
  roles/kubernetes-prerequisites/files/09-kubeadm.conf
  roles/kubernetes-prerequisites/tasks/main.yml
  roles/kubernetes-prerequisites/vars/main.yml
Labels: cluster:k8s

#88 re-org: Fix readme to reflect re-org changes
  README.md
Labels: docs

#80 Add automation/README.md describing the test flow
  CONTRIBUTING.md
  README.md
  automation/README.md
Labels: automation, docs
